.section.s-steps#steps
    .container
        .s-steps__content
            .s-steps__side-left
                .s-steps__title-block
                    h2.subtitle Основные этапы пропарки-промывки железнодорожных цистерн
                    span.text Работы по подготовке железнодорожных цистерн к наливу и ремонту включают очистку внутренних поверхностей котлов цистерн от остатков ранее перевозимого нефтегруза.
                .s-steps__steps-left
                    +cardStep({
                        mix: 's-steps__card-step _area_3',
                        number: 3,
                        text: 'После промывки, пропарки внутренняя поверхность котла цистерны дополнительно протирается ветошью в соотвествии с требованием ГОСТ 1510-2022.'
                    })
                    +cardStep({
                        mix: 's-steps__card-step _area_4',
                        number: 4,
                        text: 'При подготовке жд цистерн под налив нефтепродуктами производится устранение коммерческих браков.'
                    })
            .s-steps__side-right
                +cardStep({
                    mix: 's-steps__card-step _area_1',
                    number: 1,
                    text: 'Цистерны из-под светлых нефтепродуктов промываются горячим моющим раствором температурой до 90 градусов.'
                })
                +cardStep({
                    mix: 's-steps__card-step _area_2',
                    number: 2,
                    text: 'Цистерны из-под темных нефтепродуктов обрабатываются паром с температурой 115 градусов.'
                })
                +cardStep({
                    mix: 's-steps__card-step _area_5',
                    number: 5,
                    text: 'Выдача акта о годности железнодорожных цистерн под налив, при подготовке цистерны в ремонт — выдача акта о проверке на взрывобезопасность газовоздушной среды.'
                })
