@use '../../config/scss' as config;
@use '../../lib/scss' as lib;

.s-steps {

  &__content {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 30px;

    @media only screen and (max-width: config.$bp-ml) {
      flex-direction: column;
      display: flex;
    }
  }

  &__title-block {
    display: flex;
    flex-direction: column;
    gap: 30px;
    grid-area: 1 / 1 / 2 / 3;
  }

  &__side-left {
    display: flex;
    gap: 30px;
    flex-direction: column;
    height: 100%;
  }

  &__side-right {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 30px;

    @media only screen and (max-width: config.$bp-sm) {
      display: flex;
      flex-direction: column;
      gap: 15px;
    }
  }

  &__steps-left {
    display: grid;
    gap: 30px;
    grid-template-columns: repeat(2, 1fr);

    @media only screen and (max-width: config.$bp-sm) {
      display: flex;
      flex-direction: column;
      gap: 15px;
    }
  }

  &__card-step {

    &._area_1 {
      grid-area: 1 / 1 / 2 / 2;
    }

    &._area_2 {
      grid-area: 1 / 2 / 2 / 3;
    }

    &._area_3 {
    }

    &._area_4 {
    }

    &._area_5 {
      grid-area: 2 / 1 / 3 / 3;
    }
  }
}
