.section.s-about#about
    .container
        .s-about__content
            h2.subtitle О компании
            .s-about__text
                p.text Компания ООО «Сибирь» оказывает услуги по пропарке, промывке железнодорожных цистерн согласно ГОСТ 1510-2022.
                p.text У нас большой опыт работы, имеем умеренные цены и гарантию.
                p.text Штатный персонал позволяет выполнить работу в приемлемые сроки.
            .s-about__image
                img(src='assets/media/about.png' alt)
            .s-about__contacts
                a(href="http://wa.me/79236012718")
                    svg
                        use(xlink:href="assets/icons/default/sprite.svg#wt")
                .s-about__phones
                    a.s-about__link(href="tel:+7(923)6012718") +7 (923) 601-27-18
                    a.s-about__link(href="tel:+7(3842)900527") +7 (3842) 90-05-27
            .s-about__subtext Или пишите
            a.s-about__link(href="mailto:sibir@list.ru") sibir@list.ru


