@use '../../config/scss' as config;
@use '../../lib/scss' as lib;


.container {
  width: 100%;
  max-width: 1920px;
  margin: 0 auto;
  padding: 0 min(16.4vw, 315px);

  @media only screen and (max-width: config.$bp-xl) {
    padding: 0 80px;
  }

  @media only screen and (max-width: config.$bp-lg) {
    padding: 0 40px;
  }

  @media only screen and (max-width: config.$bp-sm) {
    padding: 0 20px;
  }
}
