.section.s-benefits
    .container
        .s-benefits__content
            .s-benefits__benefit
                span Полное соответствие ГОСТ 1510-2022
            .s-benefits__benefit
                span Подготовка цистерн из-под светлых и темных нефтепродуктов под налив и в ремонт
            .s-benefits__benefit
                span Выдача сертификатов ВУ-19, ВУ-20
