extends ../core/ui/layout/templates/default

block title
  | ООО «Сибирь»

block workarea
  include ../core/ui/s-promo/index
  include ../core/ui/s-benefits/index
  include ../core/ui/s-steps/index
  include ../core/ui/s-about/index
