.section.s-map
    .container
        .s-map__map
        .s-map__content
            .s-map__side-left
                span.s-map__address
                    | Новосибирская обл.
                    br
                    | ст. Болотная Зап-Сиб ж. д.
                span.s-map__data ОГРН: 1146733017650
                span.s-map__data ИНН: 6732078775
            .s-map__side-right
                a.s-map__link(href="mailto:sibir@list.ru") sibir@list.ru
                span.s-map__ps © ООО «Сибирь» — 2024


