.s-promo
    .container
        .s-promo__content
            .s-promo__title
                h1 Пункт промывки и пропарки железнодорожных цистерн
            .s-promo__button-container
                a(href="http://wa.me/79236012718").button._theme_purple Оставить заявку
    .s-promo__img
        img(src='assets/media/promo.png' alt='promo')



