@use '../../config/scss' as config;
@use '../../lib/scss' as lib;


.s-promo {
  position: relative;
  width: 100%;

  &:before, &:after {
    content: '';
    position: absolute;
    height: 1px;
    border-top: 1px solid config.$colors-purple;
    width: 40%;
    top: 0;

    @media only screen and (max-width: config.$bp-ms) {
      display: none;
    }
  }

  &:before {
    left: 0;
  }

  &:after {
    right: 0;
  }

  &__content {
    display: flex;

    @media only screen and (max-width: config.$bp-ms) {
      flex-direction: column;
    }
  }

  &__title {
    border-bottom: 1px solid config.$colors-purple;
    border-right: 1px solid config.$colors-purple;
    padding: 57px 16px 57px 0;
    display: flex;
    justify-content: flex-end;

    @media only screen and (max-width: config.$bp-ms) {
      border: none;
      padding: 40px 16px;
      justify-content: center;
      align-items: center;
    }
  }

  h1 {
    font-family: config.$font-secondary;
    font-size: 54px;
    font-weight: 600;
    line-height: 70.2px;
    text-align: left;
    color: config.$colors-black;
    max-width: 832px;

    @media only screen and (max-width: config.$bp-ml) {
      font-size: 40px;
      line-height: 50px;
    }

    @media only screen and (max-width: config.$bp-md) {
      font-size: 32px;
      line-height: 40px;
    }

    @media only screen and (max-width: config.$bp-ms) {
      text-align: center;
    }
  }

  &__button-container {
    display: flex;
    align-items: center;
    padding-left: 70px;
    border-top: 1px solid config.$colors-purple;
    border-bottom: 1px solid config.$colors-gray-light;
    width: 45%;

    @media only screen and (max-width: config.$bp-ml) {
      padding-left: 30px;
    }

    @media only screen and (max-width: config.$bp-md) {
      padding-left: 16px;
    }

    @media only screen and (max-width: config.$bp-ms) {
      padding: 20px;
      width: 100%;
      border-bottom: none;
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }

  &__img {
    height: 850px;
    width: 100vw;
    overflow: hidden;
    border-top: 1px solid config.$colors-gray-light;

    @media only screen and (max-width: config.$bp-ms) {
      height: 400px;
    }

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: center;
      transition: 1.5s ease;

      &:hover {
        transform: scale(1.2);
      }
    }
  }
}
