@use '../../config/scss' as config;
@use '../../lib/scss' as lib;

.card-step {
  display: flex;
  flex-direction: column;
  gap: 15px;
  padding: 26px;
  background: config.$colors-bg;
  border-bottom: 2px solid  config.$colors-purple;
  transition: .7s ease;

  &:hover {
    transform: translateY(-20px);
    box-shadow: 0 16px 24px -6px rgba(27, 36, 44, 0.16), 0 2px 2px -1px rgba(27, 36, 44, 0.04);
  }

  &__number {
    font-family: config.$font-secondary;
    font-size: 48px;
    font-weight: 600;
    line-height: 62px;
    text-align: left;
    color: config.$colors-black;

    @media only screen and (max-width: config.$bp-md) {
      font-size: 40px;
    }
  }

  &__text {
    font-size: 20px;
    line-height: 28px;
    text-align: left;
    color: config.$colors-black;
  }
}
