@use '../../config/scss' as config;
@use '../../lib/scss' as lib;

@keyframes bounce-1 {
  0%   { transform: translateY(0); }
  50%  { transform: translateY(-100px); }
  100% { transform: translateY(0); }
}

.card-step {
  display: flex;
  flex-direction: column;
  gap: 15px;
  padding: 26px;
  background: config.$colors-bg;
  border-bottom: 2px solid  config.$colors-purple;
  transform-origin: bottom;
  animation-duration: 2s;
  animation-iteration-count: initial;
  transition: .3s ease;

  &:hover {
    animation-name: bounce-1;
    animation-timing-function: linear;
    box-shadow: 0 16px 24px -6px rgba(27, 36, 44, 0.16), 0 2px 2px -1px rgba(27, 36, 44, 0.04);
  }

  &__number {
    font-family: config.$font-secondary;
    font-size: 48px;
    font-weight: 600;
    line-height: 62px;
    text-align: left;
    color: config.$colors-black;

    @media only screen and (max-width: config.$bp-ml) {
      display: none;
    }
  }

  &__text {
    font-size: 20px;
    line-height: 28px;
    text-align: left;
    color: config.$colors-black;
  }
}
