@use '../../config/scss' as config;
@use '../../lib/scss' as lib;

.layout {
  display: flex;
  min-height: 200vh;
  flex-direction: column;
  overflow: hidden;

  &__header {
    position: sticky;
    top: 0;
  }

  &__main {
    flex-grow: 1;
    padding-bottom: 40px;
  }

  &__footer {
    margin-top: auto;
  }
}
